<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zack.mapper.IndustryMapper">

    <resultMap id="BaseResultMap" type="com.zack.domain.Industry">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="fatherId" column="father_id" jdbcType="VARCHAR"/>
            <result property="isLeaf" column="is_leaf" jdbcType="TINYINT"/>
            <result property="level" column="level" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,sort,
        father_id,is_leaf,level
    </sql>
</mapper>
