<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zack.mapper.SysParamsMapper">

    <resultMap id="BaseResultMap" type="com.zack.domain.SysParams">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="maxResumeRefreshCounts" column="max_resume_refresh_counts" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,max_resume_refresh_counts
    </sql>
</mapper>
